{% extends 'home.html' %}

{% load static %}
{% block content %}
<!--
<style>
    table
    {
    color:white;
    }
    h1
    {
    color:white;
    }
</style>
<center>
<h1>Add movie</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
  <input type="submit" >
</form>
    </center>-->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form>
{% endblock %}
