{% extends 'home.html' %}

{% load static %}
{% block content %}
<center>
<div class="col-md-4">
<div class="card" style="width: 18rem;height:430px;">
  <img src="{{s.img.url}}" height="200px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{s.title}}</h5>
    <p class="card-text">{{s.description}}</p>
    <a href="{% url 'movie1:update' s.id %}" class="btn btn-secondary">Update</a>
      <a href="{% url 'movie1:delete' s.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
</div>
    </center>

{% endblock %}

